# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
myenv/

# Ignore VS Code settings
.vscode/

# Database
db.sqlite3
db.sqlite3-journal
*.db
*.sqlite3


# Ignore environment variables
.env

# Ignore logs
*.log
